.card{
    border: none;

    img{
        border-radius: 8px
    }
    a{
        text-decoration: none;
        color: black;
        display: flex;
        align-items:center ;
        justify-content: start;
        gap: 10px;
        flex-wrap: wrap;
    }
}
.Cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 100px;
    .buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}